/*// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


.logo{
	padding-top: 200px;
	font-size: 5em;
}



.slack{
	text-align: center;
	margin-right: 20px;
}
